.homepageButtons {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .activeHome {
    width: 150px;
  }

  .featured {
    border-bottom: solid white 1px;
  }

  .featured img {
    max-height: 500px;
  }

  iframe{
    width: 874px;
    height: 500px;
  }

  @media (max-width: 600px) {
    .featured img {
      max-width: 98vw;
      object-fit: contain;
    }
    iframe {
      width: 98vw;
      object-fit:contain;
    }
  }