/* color picker:
  light grey: eeeeee
  dark grey: 222831
  teal: 4f8a8b
  orange-yellow: fbd46d */

html {
  background-color: #222831;
  color: #eeeeee
}

input[type=submit] {
  background-color: white;
  border-radius: 5px;
  height: 20px;
}

input[type=submit]:hover {
  background-color: #fbd46d;
  border-radius: 5px;
  height: 20px;
}

button {
  background-color: white;
  border-radius: 5px;
  height: 20px;
}

button:hover {
  background-color: #fbd46d;
  border-radius: 5px;
  height: 20px;
}

a {
  text-decoration: none;
  color: white
}

a:hover {
  color: #fbd46d;
}

.contentContainer {
  display: flex
}

.active {
 background-color: #4f8a8b;
}

.main {
  width: 85vw;
  max-width: 1000px;
  height: 93vh;
  overflow-y: auto;
  padding-left: 15vw;
  padding-right: 15vw;
}