.header {
  height: 5vh;
}

.contentContainer {
  display: flex
}

.nav {
  display: flex;
  flex-flow: column;
  width: 15vw;
  max-width: 200px;
}

.main {
  width: 85vw;
  max-width: 1000px;
  height: 93vh;
  overflow-y: auto;
  margin-left: 20px;

}