/* color picker:
  light grey: eeeeee
  dark grey: 222831
  teal: 4f8a8b
  orange-yellow: fbd46d */

html {
  background-color: #222831;
  color: #eeeeee
}

input[type=submit] {
  background-color: white;
  border-radius: 5px;
  height: 20px;
}

input[type=submit]:hover {
  background-color: #fbd46d;
  border-radius: 5px;
  height: 20px;
}

button {
  background-color: white;
  border-radius: 5px;
  height: 20px;
}

button:hover {
  background-color: #fbd46d;
  border-radius: 5px;
  height: 20px;
}

.header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 5vh;
  background-color: #4f8a8b;
  min-height: 40px;

}
.header button {
  margin: 3px 10px;
}

.header h1 {
  margin: 0;
  padding-left: 10px;
  font-size: 4vh;
}

@media (max-height: 720px) {
  .header h1 {
    font-size: 30px;
  }
}

.userWelcome {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
}

.userWelcome p {
  margin: 3px 20px;
}

a {
  text-decoration: none;
  color: white
}

a:hover {
  color: #fbd46d;
}

.contentContainer {
  display: flex
}

.nav {
  display: flex;
  flex-flow: column;
  width: 15vw;
  max-width: 200px;
  height: 93vh;
  border-right: solid #fbd46d 2px;
  padding: 10px;
}

.nav a {
  font-size: 24px;
}

.active {
 background-color: #4f8a8b;
}


.main {
  width: 85vw;
  max-width: 1000px;
  height: 93vh;
  overflow-y: auto;
  padding-left: 15vw;
  padding-right: 15vw;
}

.postListItem {
  display: flex;
  flex-flow: row;
}

.postListImgContainer {
  width:150px;
  height:150px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.postListImg {
  max-height: 150px;
  max-width: 150px;
}

.postItemHeader {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.postItemImg {
  max-width: 600px;
  max-height: 600px;
}

.createPostForm {
  display: flex;
  flex-flow: column;
  width: 400px;
  height: 400px;
  margin-left: 20px;
}

.postFormInput {
  width:394px;
  margin: 0;
}

.postForm textarea {
  width: 394px;
  height: 150px;
}

.postFormSubmit {
  width: 100px;
}

.postFormWrapper {
  display: flex;
  flex-flow: row;
}

.postFormPreviewWrapper {
  margin:0 20px 0 20px;
}

.postFormPreviewImg {
  max-height: 340px;
}

.commentInput {
  width: 394px;
  height: 50px;
}

.commentContainer {
  border: solid #fbd46d 1px;
  padding: 5px;
}

.commentUsername {
  margin: 0;
  font-size: 14px;
}

.commentBody {
  margin: 0;
}

.featured img {
  height: 500px;
}

.featured {
  border-bottom: solid white 1px;
}

.homepageButtons {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
}

.budgetInputContainer {
  width: 550px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.budgetInputContainer p {
  margin:0;
}

.userInputContainer {
  width: 300px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.userInputContainer p {
  margin:0;
}