.userWelcome {
    display: flex;
    flex-flow: row;
    align-items: flex-end;
}
  
.userWelcome p {
    margin: 3px 20px;
}

.header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 5vh;
    background-color: #4f8a8b;
    min-height: 40px;
  
  }
  .header button {
    margin: 3px 10px;
  }

  .header h1 {
    margin: 0;
    padding-left: 10px;
    font-size: 4vh;
  }

  @media (max-height: 720px) {
    .header h1 {
      font-size: 30px;
    }
  }

  @media (max-width: 600px) {
    .header {
      min-height: 60px;
    }

    .header h1 {
      font-size: 20px;
    }
    .userWelcome p {
      margin: 3px 3px;
      width: 80px;
    }
  }